/* File: font.css */
@font-face {
    font-family: 'suecaslab';
    src: local('suecaslab-bold.eot'),
         url('./suecaslab-bold.woff') format('woff'),
         url('./suecaslab-bold.woff2') format('woff2'),
         url('./suecaslab-bold.ttf') format('truetype'),
         url('./suecaslab-bold.svg') format('svg');        
}

@font-face {
    font-family: 'suecaslab-medium';
    src: local('suecaslab-medium.eot'),
         url('./suecaslab-medium.woff') format('woff'),
         url('./suecaslab-medium.woff2') format('woff2'),
         url('./suecaslab-medium.ttf') format('truetype'),
         url('./suecaslab-medium.svg') format('svg');        
}
